.footer {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
