.footer {
  /* border: 1px solid blue; */
  /* background-color: black; */
  composes: bgSec from '../App';
  color: white;
  max-height: 120px;
  min-height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   .title {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .socials {
    /* border: 1px solid green; */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   }
   .socialsLink {
    /* border: 3px solid yellow; */
    width: 25%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
}


.titleName {
  composes: fontM from '../App.css'
}

.socialsTitle {
  composes: fontS from '../App'
}
