.header {
  max-height: 100px;
  min-height: 100px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.title {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    .img {
      border: 1px solid blue;
      height: 50%;
    }
    .cartItemCount {
      /* border: 1px solid red; */
      height: 50%;
    }
}


