.homepage {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.left {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
    .inner {
      /* border: 1px solid blue; */
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
}


.right {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
    .img {
      /* border: 1px solid blue; */
      height: 70%;
      width: 50%;
    }
}

