.shop-page {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 4fr ;
}

.shop-div {
  border: 1px solid blue;
}

.shop-main {
  /* border: 1px solid blue; */
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 8px;
}

